<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thank you for purchasing a reward: <%= @reward.title %> !</h1>
    <p>We kindly inform about delivering above reward. It's happened today!</p>
    <% if @order.online_code.present? %>
      <p>Your online code is: <%= @order.online_code.code %></p>
    <% end %>
    <p>AppForEmployees</p>
  </body>
</html>
