<div class="container-fluid col-8">
  <div class="card mt-5">
    <div class="card-header">
      <h2>Import rewards from CSV file</h2>
    </div>
    <div class="card-body">
      <%= form_for reward, url: import_from_csv_admin_users_rewards_path do |f| %>
        <div class="form-group">
          <%= f.file_field :file, class: 'form-control-file', required: true, accept: 'csv' %>
        </div>
        <%= f.submit 'Import Rewards', class: 'btn btn-primary mt-3' %>
      <% end %>
    </div>
  </div>
</div>
