<div class="card mt-5">
  <div class="card-header text-center">
    <h2>Confirm your order</h2>
  </div>
  <div class="card-body">
    <%= render 'form', order: order, order_form: order_form %>
  </div>
</div>

