<h1 class="text-center">Admin dashboard &#128508;</h1>
</p>
<table class="table table-dark">
  <thead>
    <tr class="text-center">
        <th colspan="2"><h4>Directions</h4></th>
      </tr>
  </thead>

  <tbody>
    <tr class="table-active text-center">
     <td><h5>Supervise Kudos List</h5></td>
     <td><%= link_to 'Go to Kudos Admin Panel', admin_users_kudos_path, class:'btn btn-outline-light'%>
    </tr>
  </tbody>
</table>
